{% extends "base.html" %}

{% block title %}All Exercises{% endblock %}

{% block content %}
<header id="page-header" class="flex-row-spaced">
    <h1>Exercises</h1>
</header>
<section id="new-exercise-form-container"></section>
<section id="page-container">
    {% if exercises and exercises|length %}
        {% for exercise in exercises %}
            <div class="card exercise-card">
                <div class="exercise-name">{{ exercise.name }}</div>
                {# TODO: finsih styling for equipment and category #}
                <div class="exercise-equipment">{{ exercise.equipment }}</div>
                <div class="exercise-category">{{ exercise.category }}</div>
                <div class="tags-group">
                    {% for muscle in exercise.muscles or [] %}
                        <span class="tag">{{ muscle }}</span>
                    {% endfor %}
                </div>
                {# TODO: make edit button work #}
                <button class="icon-button" type="button"><img src="{{ url_for('static', path='images/edit.png') }}" alt="Edit"></button>
            </div>
        {% endfor %}
    {% else %}
        <p>No exercises found!</p>
    {% endif %}
</section>
{% endblock %}



