{% extends "base.html" %}

{% block title %}All Workouts{% endblock %}

{% block content %}
<header id="page-header" class="flex-row-spaced">
    <h1>Workout Log</h1>
    <button
        class="icon-button elevated"
        type="button"
        hx-get="/workout/new-form"
        hx-target="#new-workout-form-container"
        hx-swap="innerHTML"
        >
        <img src="{{ url_for('static', path='images/add.png') }}" alt="New">
    </button>
</header>
<section id="new-workout-form-container"></section>
<section id="page-container">
    {% if workouts and workouts|length %}
        {% for workout in workouts %}
            <div class="card workout-card">
                <div class="workout-date">{{ workout.date }}</div>
                <div class="workout-name">{{ workout.name }}</div>
                <div class="tags-group ">
                    {% for tag in workout.tags or [] %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>

                <a class="icon-button elevated"
                 href="{{ url_for('view_workout', workout_date=workout.date, workout_id=workout.workout_id) }}"
                >
                    <img src="{{ url_for('static', path='images/view.png') }}" alt="View">
                </a>

            </div>
        {% endfor %}
    {% else %}
        <p>No workouts logged yet. The barbell is waiting!</p>
    {% endif %}
</section>
{% endblock %}



