{% extends "base.html" %}

{% block title %}Workout - {{workout.name}} {% endblock %}

{% block content %}
<header id="workout-detail-header">
    <div class="workout-title">
        <h2>{{workout.name}}</h2>
        <p class="">
            {{ workout.date.strftime("%A %d %B %Y")  }}
        </p>
    </div>
    <a href="/workout/all" class="button small">Back to List</a>

</header>

<section id="workout-meta">
    {# tags #}    {# display edit button to far right of tags #}
    {# inline edit form. submit with htmx, swap for updated details on submit. #}
    {# and it needs a cancel button #}

    <div id="workout-notes">
        {% if workout.notes %}
            {{ workout.notes}}
        {% else %}
            "No notes yet...fossilize your thoughts here."
        {% endif %}
    </div>
    {# workout notes #}
</section>

{# Exercise Name #}             {# Muscle group label - like a sticky label at the side #}

{# TABLE kind of thing #}
{# group by exercise #}
{# set number |  reps  |  weight  | RPE  | actions (E/D) #}
{# add set button #}
<img class="horizontal-divider" src="{{ url_for('static', path='images/horizontal_divider.png') }}" alt="horizontal divider">

{# big ADD EXERCISE button - inline form? on save htmx swap whole set list #}
{# this form also needs a cancel button #}



{% endblock %}

