{% extends "base.html" %}

{% block title %}Workout - {{workout.name}} {% endblock %}

{% block content %}
<header id="workout-detail-header">
    <div class="workout-title">
        <h2>{{workout.name}}</h2>
        <p class="">
            {{ workout.date.strftime("%A %d %B %Y")  }}
        </p>
    </div>
    <a href="/workout/all" class="button small">Back to List</a>

</header>


{# tags #}

{# inline edit form? submit with htmx, swap for updated details on submit? #}
{# and it needs a cancel button #}

{# display workout set list #}

{# group by exercise #}
{# big ADD button - inline form? on save htmx swap whole set list #}
{# this form also needs a cancel button #}
{# reps / weight / RPE #}

{# workout notes #}

{% endblock %}

