{% extends "base.html" %}

{% block title %}Workout - {{workout.name}} {% endblock %}

{% block content %}
<header id="workout-detail-header">
    <div class="workout-title">
        <h2>{{workout.name}}</h2>
        <p class="">
            {{ workout.date.strftime("%A %d %B %Y")  }}
        </p>
    </div>
    <a href="/workout/all" class="icon-button" title="Back to list">
        <img src="{{ url_for('static', path='images/back.png') }}" alt="Back">
    </a>

</header>


<section id="workout-meta" class="card">
    <div id="tags-actions">
        <div class="tags-group ">
        Tags:
            {% for tag in workout.tags or [] %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        <a class="icon-button" hx-get="/workout/{{workout.date}}/{{workout.workout_id}}/edit-meta" hx-target="#workout-meta" hx-swap="outerHTML">
            <img src="{{ url_for('static', path='images/edit.png') }}" alt="Edit">
        </a>
    </div>

    <div id="workout-notes">
    Notes:<br>
        {% if workout.notes %}
            {{ workout.notes}}
        {% else %}
            "No notes yet...fossilize your thoughts here."
        {% endif %}
    </div>
</section>

<img class="horizontal-divider" src="{{ url_for('static', path='images/horizontal_divider.png') }}" alt="horizontal divider">

<section id="sets-list" class="card">
    {% if sets %}
        {% for group in sets | groupby('exercise_id') %}
            {% set exercise_id = group.grouper %}
            {% set exercise = exercises.get(exercise_id) %}
            <header>
                {% if exercise %}
                    <h3>Exercise {{exercise.name}}</h3>
                {% else %}
                    <h3>Unknown Exercise</h3>
                {% endif %}

            </header>


            {# TODO: Muscle group label - like a sticky label at the side #}

            <div class="sets-table">
                <div class="sets-table-header">
                    <span>Set</span>
                    <span>Reps</span>
                    <span>Weight</span>
                    <span>RPE</span>
                    <span>Actions</span>
                </div>

                {% for s in group.list %}
                    <div class="set-row">
                        <span>{{s.set_number}}</span>
                        <span>{{s.reps}}</span>
                        <span>{{s.weight_kg}}</span>
                        <span>{{s.rpe}}</span>
                        <span>
                            <button class="icon-button"><img src="{{ url_for('static', path='images/edit.png') }}" alt="Edit"></button>
                            <button class="icon-button"><img src="{{ url_for('static', path='images/delete.png') }}" alt="Del"></button>
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No sets logged yet. It's the thought that counts.</p>
    {% endif %}

</section>






{# add set button #}


{# big ADD EXERCISE button - inline form? on save htmx swap whole set list #}
{# this form also needs a cancel button #}

<section id="delete-workout">
    <span>Delete entire workout:</span>
    <button
        class="icon-button"
        hx-delete="/workout/{{workout.date}}/{{workout.workout_id}}"
        hx-confirm="Delete workout? (This cannot be undone)"
        hx-target="body"
        hx-swap="outerHTML">
            <img src="{{ url_for('static', path='images/delete.png') }}" alt="Delete">
    </button>
</section>


{% endblock %}

