{% extends "base.html" %}

{% block title %}All Workouts{% endblock %}

{% block content %}
<header id="page-header">
    <h1>Workout Log</h1>
    <button
        hx-get="/workout/new-form"
        hx-target="#new-workout-form-container"
        hx-swap="innerHTML"
        >🌿 New</button>
</header>
<section id="new-workout-form-container"></section>
<section id="page-container">
    {% if workouts and workouts|length %}
        {% for workout in workouts %}
            <div class="card workout-card">
                <div class="workout-date">{{ workout.date }}</div>
                <div class="workout-name">{{ workout.name }}</div>
                <div class="tags-group ">
                    {% for tag in workout.tags or [] %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <div class="workout-button">
                    <a
                    class="button small"
                    href="/workout/{{ workout.date }}/{{ workout.workout_id }}"
                    >
                        View
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No workouts logged yet. The barbell is waiting!</p>
    {% endif %}
</section>
{% endblock %}



