:root {
  --color-bg: #f3f1df;
  --color-card: #fffdf4;
  --color-borders: #b5b37a;
  --color-heading-dark: #4a3e2e;
  --color-heading-light: #79c76f;
  --color-button: #157e78;
  --color-tag: #729bbd;

  --color-button-secondary: #d4a16a; /* warm clay-stone */
  --color-button-secondary-dark: #b8854f; /* shadow shade */

  --color-nav-stone: #f0ebe5;

  --font-decorative: 'Caesar Dressing', system-ui;
  --font-plain: 'Passero One', sans-serif;
}

/* ──────────────────────────────── Base Page Layout ──────────────────────────────── */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* ── Header & Menu ── */

#app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 15rem;
  margin-bottom: 2rem;

  background-image: url('/static/images/header_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#app-header #brand p {
  margin: 0px;
  font-family: var(--font-decorative);
  font-weight: bold;
  color: var(--color-heading-dark);
  font-size: 1.5rem;
}

#app-header #brand img {
  width: 60px;
}

#app-header nav {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  justify-content: flex-end;
  max-width: 50%;
}

.nav-panel {
  background: var(--color-nav-stone);
  border: 2px solid var(--color-borders);
  border-radius: 14px 14px 8px 8px;
}

#app-header .menu-toggle {
  display: none;
  border: none;
  font-size: 1.5rem;
  background: none;
  color: black;
}

#app-header nav a {
  position: relative;
  padding: 1rem;
  font-weight: 600;
  color: var(--color-heading-dark);
  border-radius: 999px;
}

.menu-emoji {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  #app-header {
    position: relative;
    padding: 2rem 3rem;
  }

  /* Show the hamburger on small screens */
  #app-header .menu-toggle {
    display: block;
  }

  /* Hide nav by default on mobile */
  #app-header nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 50%;
    display: none;
    flex-direction: column;
    gap: 1rem;
  }

  #app-header nav.is-open {
    display: flex;
  }

  #app-header nav a:hover {
    background-color: var(--color-heading-light);
    color: white;
  }
}

/* ── Body ── */

body {
  font-family: var(--font-plain);
  background-color: var(--color-bg);
}

main {
  width: 98%;
  margin: 0rem auto;
}

#page-header {
  display: flex;
  justify-content: space-between;
}

#page-container {
  border: 2px solid var(--color-borders);
  border-radius: 10px;
  padding: 0.5rem;
}

.horizontal-divider {
  max-height: 1rem;
  width: 100%;
}

/* ── Footer ── */

#page-footer {
  width: 80%;
  margin: 2rem auto;
}

/* ──────────────────────────────── Text ──────────────────────────────── */

h1 {
  color: var(--color-heading-dark);
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

/* ──────────────────────────────── Workout List ──────────────────────────────── */

.workout-card {
  grid-template-columns: 80px 1fr 1fr;
}

/* ── Workout card elements ── */

.workout-card .workout-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
}

.workout-card .workout-name {
  grid-column: 2;
  grid-row: 1;
}

.workout-card .workout-button {
  grid-column: 3;
}

/* ──────────────────────────────── Workout Detail ──────────────────────────────── */

#workout-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.workout-title {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.workout-title h2 {
  margin: 0;
}

/* ──────────────────────────────── Exercise List ──────────────────────────────── */

.workout-card {
  grid-template-columns: 80px 1fr 1fr auto;
}

/* ── Exercise card elements ── */

.exercise-card .exercise-name {
  grid-row: 1;
  grid-column: 1;
}

.exercise-card .exercise-equipment {
  grid-row: 1;
  grid-column: 2;
}

.exercise-card .exercise-category {
  grid-row: 1;
  grid-column: 3;
}

.exercise-card .exercise-button {
  grid-column: 4;
}
