:root {
  --color-bg: #f3f1df;
  --color-card: #fffdf4;
  --color-borders: #b5b37a;
  --color-heading-dark: #3a8e95;
  --color-heading-light: #79c76f;
  --color-button: #157e78;
  --color-tag: #729bbd;
}

/* ──────────────────────────────── Base Page Layout ──────────────────────────────── */

* {
  font-size: 16px;
}

.bubblegum-sans-regular {
  font-family: 'Bubblegum Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ── Header & Menu ── */

#app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

#app-header #brand p {
  margin: 0px;
  font-weight: bold;
  color: var(--color-heading-dark);
  font-size: 2rem;
}

#app-header #brand img {
  width: 70px;
}

#app-header nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

#app-header .menu-toggle {
  display: none;
  border: none;
  font-size: 1.5rem;
  background: none;
}

@media (max-width: 768px) {
  #app-header {
    position: relative;
    padding: 1rem;
  }

  /* Show the hamburger on small screens */
  #app-header .menu-toggle {
    display: block;
  }

  /* Hide nav by default on mobile */
  #app-header nav {
    position: absolute;
    top: calc(100% - 2rem);
    right: 0;
    left: 0;
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: var(--color-card);
  }

  #app-header nav.is-open {
    display: flex;
  }

  #app-header nav a {
    padding: 0.75rem 1rem;
    text-align: right;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  #app-header nav a:hover {
    background-color: var(--color-heading-light);
    color: white;
  }
}

/* ── Body ── */

body {
  font-family: 'Bubblegum Sans', sans-serif;
  background-color: var(--color-bg);
}

main {
  width: 98%;
  margin: 0rem auto;
}

#page-container {
  border: 2px solid var(--color-borders);
  border-radius: 10px;
  padding: 0.5rem;
}

/* ── Footer ── */

#page-footer {
  width: 80%;
  margin: 2rem auto;
}

/* ──────────────────────────────── Text ──────────────────────────────── */

h1 {
  color: var(--color-heading-dark);
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

/* ──────────────────────────────── Cards & Tags ──────────────────────────────── */

.workout-card {
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  gap: 0.5rem 1rem;
  padding: 1rem;
  border: 1px solid var(--color-borders);
  border-radius: 10px;
}

/* ── Workout card elements ── */

.workout-date {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
}

.workout-name {
  grid-column: 2;
  grid-row: 1;
}

.workout-notes {
  grid-column: 3;
  grid-row: 1 / 3;
}

/* ── Tag ── */

.workout-tags {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--color-tag);
  color: var(--color-card);
  margin: 0.1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 9999px;
  font-size: 0.8rem;
}

/* ──────────────────────────────── Table ──────────────────────────────── */
