<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}ElbieFit{% endblock %}</title>
    {# HTMX #}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {# Font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Passero+One&display=swap" rel="stylesheet">
    {# Style #}
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/components.css" />
    {% block extra_css %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <header id="app-header">
      <div id="brand">
        <img src="{{ url_for('static', path='images/elbie_header.webp') }}">
        <p>ElbieFit</p>
      </div>
      <button
      class="menu-toggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
      aria-controls="main-nav"
      >☰</button>

      <nav id="main-nav" class="nav-panel">
        <a href="/profile"><span class="menu-emoji">🦕  </span>Profile</a>
        <a href="/workout/all"><span class="menu-emoji">🦴  </span>Workouts</a>
        <a href="/exercise/all"><span class="menu-emoji">🦣  </span>Exercises</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer id="page-footer">
      <p>&copy; {{ current_year or "2025" }} ElbieFit</p>
    </footer>
    <script src="/static/js/menu.js"></script>
    <script src="{{ url_for('static', path='js/number-spinner.js') }}"></script>
  </body>
</html>
