<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}ElbieFit{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
    <header id="page-header">
      <h1>ElbieFit</h1>
      <!-- nav / logo / etc -->
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer id="page-footer">
      <p>&copy; {{ current_year or "2025" }} ElbieFit</p>
    </footer>
  </body>
</html>
